<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>All Users</title>
        <link
            rel="stylesheet"
            th:href="@{/css/style.css}" />
    </head>
    <body>
        <div class="container">
            <h1>All Users</h1>
            <table border>
                <thead>
                    <tr>
                        <th>KOD ID</th>
                        <th>NAME</th>
                        <th>AGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user:${userList}">
                        <td th:text="${user.kodId}" />
                        <td th:text="${user.name}" />
                        <td th:text="${user.age}" />
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
