<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>IgniteSkills</title>
        <link
            rel="stylesheet"
            th:href="@{/css/index.css}" />
    </head>
    <body>
        <div class="container">
            <h1>Welcome to <span class="title">IgniteSkills</span></h1>
            <p>
                This is best online learning platform which has everything you
                need and nothing you don&apos;t need!. You can learn top IT
                skills such as HTML, CSS, JS, ReactJs, NodeJs, Java, etc.
                <br />CHOOSE AND NEVER REGRET.
            </p>
            <div class="btn-container">
                <a href="/register">
                    <button class="btn btn-register">Register</button>
                </a>
                <a href="/login">
                    <button class="btn btn-login">Login</button>
                </a>
            </div>
        </div>

        <div class="testimonials">
            <div class="testimonial">
                <div class="testimonial-head">
                    <img
                        th:src="@{/images/profile5.png}"
                        alt="testimonial"
                        width="60"
                        class="testimonial-img" />
                    <span>Vighnesh VT</span>
                </div>
                <p class="testimonial-msg">
                    I can't say enough about IgniteSkills. IgniteSkills has
                    really helped me become a Fullstack Web Developer.
                </p>
            </div>
            <div class="testimonial">
                <div class="testimonial-head">
                    <img
                        th:src="@{/images/profile2.png}"
                        alt="testimonial"
                        width="60"
                        class="testimonial-img" />
                    <span>Jay Shetty</span>
                </div>
                <p class="testimonial-msg">
                    I love IgniteSkills! This is an amazing platform to grow
                    your skills and it has saved me so much time of confusion. I
                    plan to use it for a long time to come.
                </p>
            </div>
            <div class="testimonial">
                <div class="testimonial-head">
                    <img
                        th:src="@{/images/profile3.png}"
                        alt="testimonial"
                        width="60"
                        class="testimonial-img" />
                    <span>Angela Duckworth</span>
                </div>
                <p class="testimonial-msg">
                    With IgniteSkills, we have finally accomplished things that
                    have been waiting forever to get done.
                </p>
            </div>
            <div class="testimonial">
                <div class="testimonial-head">
                    <img
                        th:src="@{/images/profile4.png}"
                        alt="testimonial"
                        width="60"
                        class="testimonial-img" />
                    <span>Robin Sharma</span>
                </div>
                <p class="testimonial-msg">
                    I have been using IgniteSkills for over a year now and I
                    love it! I can't imagine life without it. It's so easy to
                    use, and the customer service is great.
                </p>
            </div>
        </div>
    </body>
</html>
