<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Student Home</title>
        <link
            rel="stylesheet"
            th:href="@{/css/trainerHome.css}" />
        <link
            rel="stylesheet"
            th:href="@{/css/studentHome.css}" />
    </head>
    <body>
        <div class="container">
            <a href="/purchaseCourse">
                <button class="purchase-course">Purchase Course</button>
            </a>
            <a href="/myCourses">
                <button class="my-courses">My Courses</button>
            </a>
        </div>
    </body>
</html>
