<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Test Page</title>
        <style>
            body {
                margin: 0;
                padding: 0;
            }

            h1 {
                background-color: seagreen;
                color: white;
                font-family: Corbel;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>This is TEST page!</h1>
    </body>
</html>
