*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Corbel, Verdana, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #263238;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./teacher.webp");
    background-position: center;
    background-size: 60rem;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.25rem);
    padding: 2rem;
    border-radius: 0.5rem; */
}

button {
    width: 25rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid white;
    outline: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out;
    background-color: #00bfa5;
}

button:hover {
    opacity: 0.95;
    border-radius: 50rem;
}

a {
    text-decoration: none;
    width: 100%;
}
